<mtapp:setting
    id="default_location"
    label="Default Location"
    hint="The default place to search near when adding Yelp places to this blog."
    show_hint="1">
    <input name="default_location" value="<mt:var name="default_location" escape="html">" id="default_location" />
</mtapp:setting>
