<mtapp:setting
    id="ywsid"
    label="Yelp Web Services ID"
    hint="Your YWSID from Yelp. <a href='http://www.yelp.com/developers/getting_started/api_access'>Get your YWSID here.</a>"
    show_hint="1">
    <input name="ywsid" value="<mt:var name="ywsid" escape="html">" id="ywsid" />
</mtapp:setting>
